BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ColumnLimit: '120'
ConstructorInitializerIndentWidth: '4'
ContinuationIndentWidth: '4'
IndentWidth: '4'
NamespaceIndentation: All
PointerAlignment: Right
TabWidth: '4'
BinPackParameters: false
CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true